
<footer class="text-right navbar-fixed-bottom" style="display:block; position:absolute; top: 9px; right: 10px;">
    <a class="btn btn-light btn-md btn-outline-secondary" href="/logout" role="button">Logout</a>

</footer>


</body>
</html>
