<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-hands fa-7x"></i>
    <i class="bi bi-wind"></i>
    <h1 class="display-3">Poster</h1>
    <p class="lead">Register and try it out</p>
    <hr>
    <a class="btn btn-light btn-lg btn-outline-secondary" href="/logout" role="button">Register</a>
    <a class="btn btn-light btn-outline-dark btn-lg" href="/submit" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
