<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-hands fa-7x"></i>
    <h1 class="display-3">Rift World</h1>
    <p class="secret-text">Write something below</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input autocomplete="off" type="text" class="form-control text-center" name="post" placeholder="Text">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
