html{
  font-size: 12px;
  min-height: 100%;
}

body {
  background-color: #E8ECEF;
  color:black;
  min-height: 100%;
}

.profile div{
  background-color: #E8ECEF;
}

.profile li{
  background-color: #E8ECEF;
}

.jumbotron{
  margin:0;
  
}

/* .jumbotron.home{
  background: rgb(18,140,140);
background: linear-gradient(0deg, rgba(18,140,140,0.4906163148853291) 9%, rgba(255,255,255,1) 82%);
} */

h1{
  font-family: 'Nanum Gothic Coding', monospace;
}

.navbar{
  border-bottom: solid black 2px;

}


.custom{
    background-color: #ADB5BD;
}

.navbar-brand{
  font-family: 'Nanum Gothic Coding', monospace;
}

#profileCardLogo{
  width:100%;
  height: 100%;
display:flex;
justify-content: center;
align-items:center;
}

.centered {
    padding-top: 200px;
    text-align: center;
}


@media (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}

@media (max-width: 991.98px) {
  .post-container p{
    font-size: 1.2rem;
  }
  #profile-pic{
    max-height: 250px;
    max-width: 200px;
    margin: auto;
  }
}

.secret-text {
  text-align: left;
  font-size: 1.7rem;
  color: #fff;
  background-color: #4B5D67;
  margin: 0;
  padding: 5px 20px;
  border-top: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;
}

.secret-text:last-of-type{
  border-bottom: solid black 2px;
}

.secret-text-centered{
  text-align: center;
}


.container{
  margin-top: 2rem;

}

.bg-inherit div{
  background-color: inherit;
}

.post-container{
  position:relative;
  bottom:0;
  max-height: 600px;
  overflow-y:scroll;
  margin-bottom: 2em;
}

.editField{
  border: 2px black solid;
  background-color: silver;
}

#usernameResponseHidden{
  color:red;
}

table a{
  color: #006359;
}

table a:hover{
  color: #ADB5BD;
}

a{
  color:#00BDAA;
}

a:hover{
  color: #ADB5BD;
}



.battleLog{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #DDE0E3;
  min-height: 200px;
  vertical-align: middle;
  font-family: 'Nanum Gothic Coding', monospace;
}

#battleLogTitle{
  text-decoration: underline;
  font-family: 'Nanum Gothic Coding', monospace;
}

#charsRem{
  margin-top: 5px;
}

