
body {
  background-color: #E8ECEF;
  color:black;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #4B5D67;
}

.container{

  margin-top: 2rem;
}

.editField{
  border: 2px black solid;
  background-color: silver;
}

#usernameResponseHidden{
  color:red;
}

table a{
  color: #006359;
}

table a:hover{
  color: #006359;
}

a{
  color:#00BDAA;
}

a:hover{
  color: blue;
}


#hi {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent;
}

.battleLog{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: grey;
  min-height: 200px;
  vertical-align: middle;
}

#battleLogTitle{
  text-decoration: underline;
}


